.about {
    padding-top: 103px;
    padding-bottom: 145px;
}

.about__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__left {
    position: relative;
}

.about__image {
    margin-left: 20px;
}

.about__list {
    list-style: none;
}

.about__item {
    font-size: 13px;
    line-height: 18px;
    text-align: center;
}

.about__item:first-child {
    width: 145px;
    position: absolute;
    top: 110px;
    left: 170px;
}

.about__item:nth-child(2) {
    width: 190px;
    position: absolute;
    top: 250px;
    right: -35px;
}

.about__item:nth-child(3) {
    width: 173px;
    position: absolute;
    top: 290px;
    left: -10px;
}

.about__item:last-child {
    width: 130px;
    position: absolute;
    bottom: -27px;
    left: 215px;
}

.about__right {
    width: 590px;
    padding-left: 50px;
}

@media (max-width: $tablet-width) {
    .about {
        padding-top: 50px;
        padding-bottom: 135px;
    }
    .about__container {
        flex-direction: column;
        align-items: center;
    }
    .about__right {
        width: 100%;
        order: 1;
        padding-left: 0;
    }
    .about__left {
        order: 2;
    }
    .about__item:first-child {
        width: 125px;
        left: 183px;
    }
    .about__item:nth-child(2) {
        width: 170px;
        top: 210px;
        left: 550px;
    }
    .about__item:nth-child(3) {
        width: 150px;
    }
    .about__item:last-child {
        width: 117px;
        bottom: -23px;
        left: 388px;
    }
}

@media (max-width: $mobile-width) {
    .about {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 80px;
    }
    .about__item:first-child {
        top: 118px;
        left: 80px;
    }
    .about__item:nth-child(2) {
        width: 100px;
        top: 316px;
        left: 182px;
    }
    .about__item:nth-child(3) {
        width: 128px;
        top: 411px;
        left: -4px;
    }
    .about__item:last-child {
        bottom: -27px;
        left: 84px;
    }
    .about__image {
        margin-left: 7px;
    }
}
