.btn {
    border: 1px solid transparent;
    vertical-align: middle;
}

.btn-rose {
    @include btn-rose-text ();
    background-color: $color-button-rose;
    display: inline-block;
    border-radius: 50px;
}
