.faq {
    padding-top: 20px;
    padding-bottom: 170px;
}

.faq__list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
    padding-left: 0;
}

.faq__item {
    width: 50%;
}

.faq__item:first-child {
    order: 1;
}

.faq__item:nth-child(2) {
    order: 3;
}

.faq__item:nth-child(3) {
    order: 5;
}

.faq__item:nth-child(4) {
    order: 2;
}

.faq__item:nth-child(5) {
    order: 4;
}

.faq__item:last-child {
    order: 6;
}

.faq__question {
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
    color: $color-slogan;
}

.faq-consultation {
    width: 1140px;
    margin: 0 auto;
    padding: 35px 0;
    border-radius: 10px;
    background-color: $color-violet-decorative;
    background-image: url(../img/faq-form-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.faq-consultation span,
.faq-consultation__request {
    margin-left: 315px;
    color: $color-white;
}

.faq-consultation span {
    font-size: 16px;
    line-height: 30px;
    font-style: italic;
}

.faq-consultation__request {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 10px;
}

.faq-consultation__form {
    width: 780px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 315px;
}

.faq-consultation__form-container {
    width: 100%;
    margin-top: 0;
}

.faq-consultation__form input {
    width: 243px;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid #cccccc;
    margin-right: 42px;
    padding-bottom: 13px;
    color: $color-white;
    outline: none;
}

.faq-consultation__form input[type="text"]::placeholder,
.faq-consultation__form input[type="tel"]::placeholder {
    color: $color-white;
    font-style: italic;
}

.faq-consultation__button-submit {
    padding: 10px 42px;
}

@media (max-width: $tablet-width) {
    .faq {
        padding-top: 20px;
        padding-bottom: 100px;
    }
    .faq__list {
        flex-direction: column;
    }
    .faq__item {
        width: 100%;
    }
    .faq__item:first-child {
        order: 1;
    }
    .faq__item:nth-child(2) {
        order: 2;
    }
    .faq__item:nth-child(3) {
        order: 3;
    }
    .faq__item:nth-child(4) {
        order: 4;
    }
    .faq__item:nth-child(5) {
        order: 5;
    }
    .faq__item:last-child {
        order: 6;
    }
    .faq__question {
        font-weight: bold;
        margin-bottom: 25px;
    }
    .faq__answer {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .faq-consultation {
        width: 100%;
        background-image: url(../img/faq-form-bg-tablet.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .faq-consultation span,
    .faq-consultation__request {
        margin-left: 30px;
    }
    .faq-consultation__form {
        width: 100%;
        margin-left: 33px;
    }
    .faq-consultation__form input {
        width: 27%;
    }
}

@media (max-width: $mobile-width) {
    .faq {
        padding-top: 28px;
    }
    .faq__list {
        margin-top: 0;
    }
    .faq__question {
        margin-bottom: 20px;
        font-weight: 600;
    }
    .faq__item:nth-child(3) .faq__question {
        margin-top: 14px;
    }
    .faq__item:last-child .faq__question {
        margin-top: 25px;
    }
    .faq__item:last-child {
        margin-bottom: 6px;
    }
    .faq-consultation {
        padding: 45px 20px;
    }
    .faq-consultation__form {
        margin-left: 0;
    }
    .faq-consultation__form-container {
        display: flex;
        flex-direction: column;
    }
    .faq-consultation__form input {
        width: 100%;
    }
}
