.header-info {
    width: 514px;
}

.header-info__slogan {
    width: 380px;
    font-family: $font-Muller;
    font-size: 60px;
    line-height: 74px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    color: $color-white;
    margin: 0;
}

.header-info__title {
    font-family: $font-Muller;
    font-size: 32px;
    line-height: 36px;
    font-style: normal;
    font-weight: 500;
    color: $color-white;
}

.header-info__request {
    width: 485px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-info__link {
    padding: 17px 42px;
}

.header-info__delivery {
    width: 210px;
    margin: 0;
    margin-top: 10px;
    font-family: $font-Open-Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: $color-white;
}

@media (max-width: $tablet-width) {
    .header-info {
        width: 282px;
    }
    .header-info__slogan {
        width: 257px;
        font-size: 45px;
        line-height: 55px;
    }
    .header-info__title {
        font-size: 21px;
        line-height: 24px;
    }
    .header-info__request {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }
}
