.header-info {
    width: 514px;
}

.header-info__slogan {
    width: 332px;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    line-height: 74px;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-white;
    margin: 0;
}

.header-info__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    line-height: 32px;
    font-weight: normal;
    color: $color-white;
}

.header-info__request {
    width: 485px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-info__link {
    padding: 17px 42px;
}

.header-info__delivery {
    width: 210px;
    margin: 0;
    margin-top: 10px;
    color: $color-white;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
}
