.main__container {
    // border: 1px solid red;
    overflow: hidden;
}

.main__wrapper {
    margin: 0 auto;
    width: 1170px;
    padding: 0 15px;
}

.maim__wrapper--reviews {
    width: 100%;
}

.main__wrapper--contacts {
    padding-top: 123px;
    padding-bottom: 120px;
}

@media (max-width: $tablet-width) {
    .main__wrapper {
        width: 100%;
        min-width: 750px;
        margin: 0;
        padding: 0 30px;
    }
}
