.main-nav {
    margin-left: 60px;
}

.main-nav__toggle {
    display: none;
    background-color: transparent;
}

.main-nav__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-nav__list {
    width: 555px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}

.main-nav__link {
    display: inline-block;
    padding: 4px 25px;
    font-family: $font-Open-Sans;
    font-size: 13px;
    line-height: 14px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    color: $color-white;
    &:focus,
    &:hover {
        transform: scale(1.5);
    }
}

@media (max-width: $tablet-width) {
    .main-nav {
        position: relative;
        width: 302px;
        min-height: 55px;
        margin: 0px;
        background-color: $color-white;
        border: 1px solid orange;
    }
    .main-nav__toggle {
        position: absolute;
        top: 27px;
        right: 30px;
        z-index: 100;
        display: block;
        width: 26px;
        height: 15px;
        cursor: pointer;
        border: none;
    }
    .main-nav--closed .main-nav__toggle::before {
        content: "";
        position: absolute;
        width: 26px;
        height: 15px;
        background-image: url('../../img/burger-menu-tablet.png');
    }
    // .main-nav--opened .main-nav__toggle {
    //     // top: 0;
    //     left: auto;
    // }
    .main-nav--opened .main-nav__toggle::before,
    .main-nav--opened .main-nav__toggle::after {
        content: "";
        position: absolute;
        top: 10px;
        left: -3px;
        width: 27px;
        height: 2px;
        background-color: #b4b4b4;
        transition-timing-function: ease-in-out;
        transition-duration: .2s;
    }
    .main-nav--opened .main-nav__toggle::before {
        transform: rotate(45deg);
    }
    .main-nav--opened .main-nav__toggle::after {
        transform: rotate(-45deg);
    }
}
