.page-footer {
    // width: 100%;
    background-color: $color-violet-footer;
}

.page-footer__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 17px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-footer__copyright,
.page-footer__confidentiality-link,
.page-footer__design {
    margin: 0;
    color: $color-white;
    opacity: 0.7;
}

.page-footer__confidentiality-link {
    text-decoration: underline;
}

@media (max-width: $tablet-width) {
    .page-footer__wrapper {
        padding: 17px 30px;
    }
    .page-footer__copyright,
    .page-footer__confidentiality-link {
        font-size: 13px;
        line-height: 1.5em;
    }
    .page-footer__design {
        display: none;
    }
}
