.poligraphy-form {
    width: 780px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.poligraphy-form input {
    background-color: $color-background;
    border: 1px solid transparent;
    border-bottom: 1px solid #cccccc;
    margin-right: 42px;
    padding-bottom: 13px;
}

.poligraphy-form input[type="text"]::placeholder,
.poligraphy-form input[type="tel"]::placeholder {
    color: #868995;
    font-style: italic;
}

.poligraphy-form__button-submit {
    padding: 17px 42px;
}
