.polygraphy {
    position: relative;
    padding-bottom: 160px;
    background-color: #faf8fb;
    &::before {
        content: "";
        position: absolute;
        width: 11px;
        height: 130px;
        background-image: url('../img/decor-element-desktop.png');
        background-repeat: no-repeat;
        top: -65px;
        left: 50vw;
        margin-left: -6px;
    }
}

.polygraphy__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.polygraphy__info {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 648px;
        height: 544px;
        background-image: url('../img/company-style-desktop.png');
        background-repeat: no-repeat;
        bottom: -162px;
        left: 585px;
    }
}

.polygraphy__image {
    padding: 0;
    width: 544px;
}

.polygraphy__image img {
    margin-left: 91px;
}

.polygraphy__questions {
    margin-top: 100px;
}

.polygraphy__questions span {
    font-size: 16px;
    line-height: 30px;
    font-style: italic;
    font-weight: normal;
    color: $color-slogan;
}

.polygraphy__request {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    font-weight: 600;
    color: $color-slogan;
}

.poligraphy-form {
    width: 780px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 503px;
        height: 340px;
        background-image: url('../img/paper-plane-desktop.png');
        background-repeat: no-repeat;
        left: 770px;
        bottom: -12px;
    }
}

.poligraphy-form input {
    width: 245px;
    background-color: $color-background;
    border: 1px solid transparent;
    border-bottom: 1px solid #cccccc;
    margin-right: 42px;
    padding-bottom: 13px;
    outline: none;
}

.poligraphy-form input[type="text"]::placeholder,
.poligraphy-form input[type="tel"]::placeholder {
    color: #868995;
    font-style: italic;
}

.poligraphy-form__button-submit {
    padding: 17px 42px;
}

@media (max-width: $tablet-width) {
    .polygraphy {
        padding-bottom: 115px;
    }
    .polygraphy__questions {
        width: 240px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 70px;
    }
    .polygraphy__request {
        width: 175px;
        margin-bottom: 27px;
    }
    .poligraphy-form {
        width: 100%;
        &::after {
            background-image: url("../img/paper-plane-tablet.png");
            background-size: 184px auto;
            left: 208px;
            bottom: 32px;
            width: 184px;
            height: 303px;
        }
    }
    .poligraphy-form__container {
        display: flex;
        flex-direction: column;
    }
    .polygraphy__info {
        &::after {
            width: 364px;
            height: 381px;
            background-image: url("../img/company-style-tablet.png");
            background-repeat: no-repeat;
            bottom: -400px;
            left: 52vw;
        }
    }
    .poligraphy-form input {
        margin-bottom: 30px;
    }
    .poligraphy-form__button-submit {
        width: 240px;
    }
}

@media (max-width: $mobile-width) {
    .polygraphy {
        padding-bottom: 48px;
        &::before {
            display: none;
        }
    }
    .polygraphy__info {
        margin-bottom: 216px;
        &::after {
            width: 304px;
            height: 255px;
            background-image: url("../img/company-style-mobile.png");
            bottom: -253px;
            left: 46vw;
            margin-left: -152px;
        }
    }
    .polygraphy__questions {
        width: 100%;
    }
    .polygraphy__request {
        margin-bottom: 14px;
    }
    .poligraphy-form input {
        width: 290px;
        padding-left: 13px;
        padding-bottom: 12px;
        margin-bottom: 32px;
    }
    .poligraphy-form::after {
        display: none;
    }
    .poligraphy-form__button-submit {
        width: 288px;
        padding: 10px 42px;
    }
}
