.polygraphy {
    padding-bottom: 160px;
    background-color: #faf8fb;
}

.polygraphy__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.polygraphy__image {
    padding: 0;
    width: 544px;
}

.polygraphy__image img {
    margin-left: 91px;
}

.polygraphy__questions span {
    font-size: 16px;
    line-height: 30px;
    font-style: italic;
    font-weight: normal;
    color: $color-slogan;
}

.polygraphy__request {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    font-weight: 600;
    color: $color-slogan;
}

.poligraphy-form {
    width: 780px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.poligraphy-form input {
    width: 245px;
    background-color: $color-background;
    border: 1px solid transparent;
    border-bottom: 1px solid #cccccc;
    margin-right: 42px;
    padding-bottom: 13px;
}

.poligraphy-form input[type="text"]::placeholder,
.poligraphy-form input[type="tel"]::placeholder {
    color: #868995;
    font-style: italic;
}

.poligraphy-form__button-submit {
    padding: 17px 42px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        background-image: url("../img/poligrafhy-decor.png");
        background-size: 503px auto;
        position: absolute;
        left: 190px;
        bottom: -32px;
        width: 503px;
        height: 340px;
    }
}
