.request-call {
    width: 360px;
}

.request-call__text {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: $color-white;
}

.request-call__container {
    display: flex;
    flex-direction: column;
}

.request-call__form input {
    width: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid #ccc;
    margin-right: 42px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    color: #fff;
    font-weight: bold;
    outline: 0;
}

.request-call__form input[type="text"]::placeholder,
.request-call__form input[type="tel"]::placeholder {
    color: $color-white;
    font-style: italic;
    font-weight: normal;
}

.request-call__button-submit {
    padding: 17px 42px;
}
