    .reviews-slider {
        position: relative;
    }

    .reviews-slider__container {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        position: relative;
        justify-content: center;
    }

    .reviews-slider__item {
        width: 845px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 25px;
        padding: 60px 75px;
        box-shadow: 0px 0px 10px 0px rgba(81, 8, 86, 0.08);
        border-radius: 10px;
    }

    .reviews-slider__author-photo {
        width: 136px;
        height: 136px;
    }

    .reviews-slider__content {
        margin-left: 30px;
    }

    .reviews-slider__blockquote {
        width: 510px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .reviews-slider__text {
        margin-bottom: 20px;
    }

    .reviews-slider__item:first-child {
        opacity: 0.5;
    }

    .reviews-slider__item:nth-child(3) {
        opacity: 0.5;
    }

    .reviews-slider__controls {
        position: relative;
    }

    .reviews-slider__control {
        position: absolute;
        background-color: transparent;
        width: 90px;
        height: 14px;
        cursor: pointer;
        top: 20px;
    }

    .reviews-slider__control--prev {
        left: 20px;
    }

    .reviews-slider__control--next {
        left: 117px;
    }

    .reviews-slider__control--prev::before,
    .reviews-slider__control--next::after {
        content: "";
        position: absolute;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: 0 0;
        width: 90px;
        height: 14px;
        bottom: -35px;
        top: 0;
        left: 0;
    }

    .reviews-slider__control--prev::before {
        background-image: url(../../img/arrow-left.png);
    }

    .reviews-slider__control--next::after {
        background-image: url(../../img/arrow-right.png);
    }

    @media (max-width: $tablet-width) {
        .reviews-slider {
            width: 100%;
        }
        .reviews-slider__item {
            width: 720px;
            margin-right: 15px;
            margin-left: 15px;
            padding: 60px 63px;
        }
        .reviews-slider__content {
            margin-left: 50px;
        }
        .reviews-slider__blockquote {
            width: 405px;
        }
    }
