.section__title {
    @include section-title();
}

.section__slogan {
    @include section-slogan();
}

.section__slogan--about {
    width: 385px;
}

.section__slogan--service-one {
    width: 450px;
    margin-bottom: 60px;
}

.section__slogan--service-two {
    width: 450px;
    margin-bottom: 60px;
}

.section__slogan--service-three {
    width: 435px;
    margin-top: 140px;
}

.section__title--contacts {
    margin-bottom: 50px;
}

.section__text {
    @include main-text();
}

.section__text--about {
    width: 523px;
}

.section__text--interior-print {
    width: 557px;
    margin-bottom: 50px;
}

.section__text--polygraphy {
    width: 555px;
}

@media (max-width: $tablet-width) {
    .section__slogan {
        width: 100%;
    }
    .section__text--about {
        width: 100%;
    }
    .section__slogan--service-one {
        width: 573px;
        order: 1;
    }
    .section__slogan--service-three {
        margin-top: 110px;
    }
    .section__text--polygraphy {
        width: 100%;
    }
}

@media (max-width: $mobile-width) {
    .section__slogan {
        font-size: 24px;
        line-height: 125%;
    }
    .section__title--about {
        margin-bottom: 0px;
    }
    .section__slogan--about {
        margin-top: 20px;
        margin-bottom: 27px;
    }
    .section__text--about {
        margin-bottom: 25px;
    }
    .section__text--about:last-child {
        margin-bottom: 32px;
    }
    .section__slogan--service-one {
        max-width: 100%;
        margin-bottom: 25px;
    }
    .section__title--banners-print {
        margin-bottom: 12px;
    }
}
