.services__item--one {
    background-color: #faf8fb;
    padding-top: 100px;
    padding-bottom: 117px;
}

.services__text--two {
    width: 557px;
    margin-bottom: 50px;
}

.services__text--three {
    width: 555px;
}
