.services__item--one {
    background-color: #faf8fb;
    padding-top: 100px;
    padding-bottom: 117px;
}

.services__container {
    display: flex;
}

.services__slogan {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    line-height: 32px;
    font-weight: normal;
    color: #383d52;
}

.services__slogan--one {
    width: 450px;
    margin-bottom: 60px;
}
