.services__item--one {
    background-color: #faf8fb;
    padding-top: 100px;
    padding-bottom: 117px;
}

@media (max-width: $tablet-width) {
    .services__item--one {
        padding: 50px 0;
    }
}
