@mixin section-title () {
    font-family: $font-Muller;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: $color-violet-heading;
}

@mixin section-slogan () {
    font-family: $font-Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: $color-slogan;
}

@mixin main-text () {
    font-family: $font-Open-Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $color-font-main;
}

@mixin btn-rose-text () {
    font-family: $font-Open-Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5em;
    color: $color-white;
    text-transform: uppercase;
}
