$color-violet-heading: #7f38bd;
$color-violet-decorative: #883eca;
$color-violet-footer: #65269d;
$color-button-rose: #fb0275;
$color-button-rose-hover: #de0368;
$color-font-main: #5e606a;
$color-slogan: #383d52;
$color-mobile-menu: #333333;
$color-background: #faf8fb;
$color-white: #ffffff;
$mobile-width: 779px;
$tablet-width: 1169px;
$font-Muller: 'Muller',
'Arial',
sans-serif;
$font-Open-Sans: 'Open Sans',
'Arial',
sans-serif;
