$color-violet-heading: #7f38bd;
$color-violet-decorative: #883eca;
$color-violet-footer: #65269d;
$color-button-rose: #fb0275;
$color-font-main: #5e606a;
$color-heading: #383d52;
$color-background: #faf8fb;
$color-white: #ffffff;
$mobile-width: 779px;
$tablet-width: 1169px;
